* {
    font-family: Verdana, Arial, sans-serif;
}

.logo, .main-header .navbar, .sidebar-toggle, .navbar-custom-menu {
    background-color: #021F6E !important;
    color: #EF7622 !important;
}

.logo {
    height: 63px !important;
}

.logo-img {
    margin: 3px;
    height: 55px;
}

.dropdown-toggle {
    color: #EF7622 !important;
}

.dropdown-toggle .fa {
    padding: 10px;
}

.sidebar-toggle {
    height: 63px;
    padding-top: 5px;
}

.sidebar-toggle:hover, .dropdown-toggle:hover, .dropdown-toggle:focus {
    background-color: #022c9a !important;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #022c9a;
}

.sidebar-menu .header {
    background-color: #1a2226;
    color: #4b646f;
}

.main-sidebar {
    background-color: #222d32;
    padding-top: 60px;
    height: 100%;
}

.main-sidebar a {
    color: #b8c7ce;
}

.main-sidebar a:hover {
    background-color: #1c252a;
}

.main-sidebar a:hover {
    color: #ffffff;
}

.user-header {
    background-color: #022c9a;
}

.aapje-img {
    height: 20px;
}

.logo-mini b {
    color: #ffffff;
}

.red {
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 0, 0);
}

.modal-header {
    background-color: #021F6E;
    color: #ffffff;
}

.modal-footer {
    background-color: #021F6E;
    color: #ffffff;
}

.modal-header .close {
    color: #EF7622;
    opacity: 1;
    text-shadow: none;
}

.btn-kleynorange {
    background-color: #EF7622;
    color: #ffffff;
}

.btn-kleynorange:hoveR {
    color: #ffffff;
    background-color: #df6e20;
}

/** DataTables styling!**/
thead{
    background-color: #dce0e5;
}
.dataTable{
    -webkit-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -10px rgba(0,0,0,0.75);
}
.even{
    background-color: #dce0e5;
}
.dataTables_length{
    margin-bottom: -25px !important;
}
.paginate_button{
     padding: 10px;
     border: 0.5px solid white;
     background-color: #df6e20;
     color: #fff;
 }

.paginate_button:hover{
    padding: 10px;
    border: 0.5px solid white;
    background-color: rgba(229, 130, 33, 0.8);
    color: #fff
}
.paginate_button .current{
    background-color: #021F6E !important;
}
.sorting_asc::after, .sorting_desc::after{
    color: #df6e20;
}
.table-hover tbody tr:hover {
    background-color: rgba(255, 141, 41, 0.46);
}
.dataTables_wrapper {
    margin-top: 10px;
}

/**Text styling **/
.subtitle{
    font-size: 25px;
}