body{
    background-color: #dedede;
    background-repeat:  no-repeat;
    background-size: cover;
}
.vertical-offset-100{
    padding-top:100px;
}
.panel{
    border: none;
}
.panel-heading, .panel-footer{
     background-color: #021F6E !important;
     color: #ffff !important;
}
.panel-footer{
    font-size: 12px;
    text-align: center;
}

.btn-kleynorange {
    background-color: #EF7622;
    color: #ffffff;
}

.btn-kleynorange:hover , .btn-kleynorange:focus {
    color: #ffffff;
    background-color: #df6e20;
}

.logo-img{
    width: 250px;
    margin: 10px;
}
.btn{
    margin-top: 5px!important;
    margin-bottom: -10px;
    width: 330px;
    font-size: 15px;
}